.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1,
label {
    margin: 0;
    color: white;
}

label {
    display: block;
    padding-bottom: 8px;
}

input {
    font-size: 20px;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 2px rgb(120, 120, 120) solid;
    background: rgb(200, 200, 200);
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

#upload_btn {
    display: inline-block;
    cursor: pointer;
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    user-select: none;
    opacity: 0.7;
    transition: 0.1s;
}

#upload_btn:active {
    opacity: 1;
    scale: 1.1;
}
